.💪 {
    display: flex;
}

.💪.L1p {
    flex-basis: 1%;
    min-width: 1%;
}

.💪.↔️2p {
    flex-basis: 2%;
    min-width: 2%;
}

.💪.↔️3p {
    flex-basis: 3%;
    min-width: 3%;
}

.💪.↔️4p {
    flex-basis: 4%;
    min-width: 4%;
}

.💪.↔️5p {
    flex-basis: 5%;
    min-width: 5%;
}

.💪.↔️6p {
    flex-basis: 6%;
    min-width: 6%;
}

.💪.↔️7p {
    flex-basis: 7%;
    min-width: 7%;
}

.💪.↔️8p {
    flex-basis: 8%;
    min-width: 8%;
}

.💪.↔️9p {
    flex-basis: 9%;
    min-width: 9%;
}

.💪.↔️10p {
    flex-basis: 10%;
    min-width: 10%;
}

.💪.↔️11p {
    flex-basis: 11%;
    min-width: 11%;
}

.💪.↔️12p {
    flex-basis: 12%;
    min-width: 12%;
}

.💪.↔️13p {
    flex-basis: 13%;
    min-width: 13%;
}

.💪.↔️14p {
    flex-basis: 14%;
    min-width: 14%;
}

.💪.↔️15p {
    flex-basis: 15%;
    min-width: 15%;
}

.💪.↔️16p {
    flex-basis: 16%;
    min-width: 16%;
}

.💪.↔️17p {
    flex-basis: 17%;
    min-width: 17%;
}

.💪.↔️18p {
    flex-basis: 18%;
    min-width: 18%;
}

.💪.↔️19p {
    flex-basis: 19%;
    min-width: 19%;
}

.💪.↔️20p {
    flex-basis: 20%;
    min-width: 20%;
}

.💪.↔️21p {
    flex-basis: 21%;
    min-width: 21%;
}

.💪.↔️22p {
    flex-basis: 22%;
    min-width: 22%;
}

.💪.↔️23p {
    flex-basis: 23%;
    min-width: 23%;
}

.💪.↔️24p {
    flex-basis: 24%;
    min-width: 24%;
}

.💪.↔️25p {
    flex-basis: 25%;
    min-width: 25%;
}

.💪.↔️26p {
    flex-basis: 26%;
    min-width: 26%;
}

.💪.↔️27p {
    flex-basis: 27%;
    min-width: 27%;
}

.💪.↔️28p {
    flex-basis: 28%;
    min-width: 28%;
}

.💪.↔️29p {
    flex-basis: 29%;
    min-width: 29%;
}

.💪.↔️30p {
    flex-basis: 30%;
    min-width: 30%;
}

.💪.↔️31p {
    flex-basis: 31%;
    min-width: 31%;
}

.💪.↔️32p {
    flex-basis: 32%;
    min-width: 32%;
}

.💪.↔️33p {
    flex-basis: 33%;
    min-width: 33%;
}

.💪.↔️34p {
    flex-basis: 34%;
    min-width: 34%;
}

.💪.↔️35p {
    flex-basis: 35%;
    min-width: 35%;
}

.💪.↔️36p {
    flex-basis: 36%;
    min-width: 36%;
}

.💪.↔️37p {
    flex-basis: 37%;
    min-width: 37%;
}

.💪.↔️38p {
    flex-basis: 38%;
    min-width: 38%;
}

.💪.↔️39p {
    flex-basis: 39%;
    min-width: 39%;
}

.💪.↔️40p {
    flex-basis: 40%;
    min-width: 40%;
}

.💪.↔️41p {
    flex-basis: 41%;
    min-width: 41%;
}

.💪.↔️42p {
    flex-basis: 42%;
    min-width: 42%;
}

.💪.↔️43p {
    flex-basis: 43%;
    min-width: 43%;
}

.💪.↔️44p {
    flex-basis: 44%;
    min-width: 44%;
}

.💪.↔️45p {
    flex-basis: 45%;
    min-width: 45%;
}

.💪.↔️46p {
    flex-basis: 46%;
    min-width: 46%;
}

.💪.↔️47p {
    flex-basis: 47%;
    min-width: 47%;
}

.💪.↔️48p {
    flex-basis: 48%;
    min-width: 48%;
}

.💪.↔️49p {
    flex-basis: 49%;
    min-width: 49%;
}

.💪.↔️50p {
    flex-basis: 50%;
    min-width: 50%;
}

.💪.↔️51p {
    flex-basis: 51%;
    min-width: 51%;
}

.💪.↔️52p {
    flex-basis: 52%;
    min-width: 52%;
}

.💪.↔️53p {
    flex-basis: 53%;
    min-width: 53%;
}

.💪.↔️54p {
    flex-basis: 54%;
    min-width: 54%;
}

.💪.↔️55p {
    flex-basis: 55%;
    min-width: 55%;
}

.💪.↔️56p {
    flex-basis: 56%;
    min-width: 56%;
}

.💪.↔️57p {
    flex-basis: 57%;
    min-width: 57%;
}

.💪.↔️58p {
    flex-basis: 58%;
    min-width: 58%;
}

.💪.↔️59p {
    flex-basis: 59%;
    min-width: 59%;
}

.💪.↔️60p {
    flex-basis: 60%;
    min-width: 60%;
}

.💪.↔️61p {
    flex-basis: 61%;
    min-width: 61%;
}

.💪.↔️62p {
    flex-basis: 62%;
    min-width: 62%;
}

.💪.↔️63p {
    flex-basis: 63%;
    min-width: 63%;
}

.💪.↔️64p {
    flex-basis: 64%;
    min-width: 64%;
}

.💪.↔️65p {
    flex-basis: 65%;
    min-width: 65%;
}

.💪.↔️66p {
    flex-basis: 66%;
    min-width: 66%;
}

.💪.↔️67p {
    flex-basis: 67%;
    min-width: 67%;
}

.💪.↔️68p {
    flex-basis: 68%;
    min-width: 68%;
}

.💪.↔️69p {
    flex-basis: 69%;
    min-width: 69%;
}

.💪.↔️70p {
    flex-basis: 70%;
    min-width: 70%;
}

.💪.↔️71p {
    flex-basis: 71%;
    min-width: 71%;
}

.💪.↔️72p {
    flex-basis: 72%;
    min-width: 72%;
}

.💪.↔️73p {
    flex-basis: 73%;
    min-width: 73%;
}

.💪.↔️74p {
    flex-basis: 74%;
    min-width: 74%;
}

.💪.↔️75p {
    flex-basis: 75%;
    min-width: 75%;
}

.💪.↔️76p {
    flex-basis: 76%;
    min-width: 76%;
}

.💪.↔️77p {
    flex-basis: 77%;
    min-width: 77%;
}

.💪.↔️78p {
    flex-basis: 78%;
    min-width: 78%;
}

.💪.↔️79p {
    flex-basis: 79%;
    min-width: 79%;
}

.💪.↔️80p {
    flex-basis: 80%;
    min-width: 80%;
}

.💪.↔️81p {
    flex-basis: 81%;
    min-width: 81%;
}

.💪.↔️82p {
    flex-basis: 82%;
    min-width: 82%;
}

.💪.↔️83p {
    flex-basis: 83%;
    min-width: 83%;
}

.💪.↔️84p {
    flex-basis: 84%;
    min-width: 84%;
}

.💪.↔️85p {
    flex-basis: 85%;
    min-width: 85%;
}

.💪.↔️86p {
    flex-basis: 86%;
    min-width: 86%;
}

.💪.↔️87p {
    flex-basis: 87%;
    min-width: 87%;
}

.💪.↔️88p {
    flex-basis: 88%;
    min-width: 88%;
}

.💪.↔️89p {
    flex-basis: 89%;
    min-width: 89%;
}

.💪.↔️90p {
    flex-basis: 90%;
    min-width: 90%;
}

.💪.↔️91p {
    flex-basis: 91%;
    min-width: 91%;
}

.💪.↔️92p {
    flex-basis: 92%;
    min-width: 92%;
}

.💪.↔️93p {
    flex-basis: 93%;
    min-width: 93%;
}

.💪.↔️94p {
    flex-basis: 94%;
    min-width: 94%;
}

.💪.↔️95p {
    flex-basis: 95%;
    min-width: 95%;
}

.💪.↔️96p {
    flex-basis: 96%;
    min-width: 96%;
}

.💪.↔️97p {
    flex-basis: 97%;
    min-width: 97%;
}

.💪.↔️98p {
    flex-basis: 98%;
    min-width: 98%;
}

.💪.↔️99p {
    flex-basis: 99%;
    min-width: 99%;
}

.💪.↔️100p {
    flex-basis: 100%;
    min-width: 100%;
}

.💪.as➡️ {
    flex-direction: row;
}

.💪.as⬇️ {
    flex-direction: column;
}

.💪.as⬅️ {
    flex-direction: row-reverse;
}

.💪.as⬆️ {
    flex-direction: column-reverse;
}

.💪.space-evenly {
    justify-content: space-evenly;
}

.💪.space-between {
    justify-content: space-between;
}

.💪.space-around {
    justify-content: space-around;
}

.💪.at-start {
    justify-content: flex-start;
}

.💪.at-end {
    justify-content: flex-end;
}

.💪.horizontally-centered {
    justify-content: center;
}

.💪.vertically-centered {
    align-items: center;
}

.💪 img {
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    .💪.transform-to-column-if-max-width-is-less-than-600px {
        flex-direction: column;
    }
}