
@media (max-device-width: 600px){
  .📱✔️ {
    display: block;
  }
  .📱✔️💪 {
    display: flex;
  }
  .📱✔️inline {
    display: inline;
  }
  .📱✔️grid {
    display: grid;
  }
  .📱❌ {
    display: none;
  }
}
